:root {
    --li-green: #070;
    --li-hover: #db0;
    --li-white: #fff;
    --li-black: #222;
    --section-green: #050;
}

body {
    font-family: sans-serif;
}

.hidden {
    opacity: 0;
}

.show {
    animation: showScroll 1s forwards;
    opacity: 1;
}

@keyframes showScroll {
    0%{
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #222;
    position: fixed;
    z-index: 1000;
}

.nav__logo {
    min-width: fit-content;
    margin: 0 0 0 10px;
    user-select: none;
}

.nav__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.ul__li {
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.li__a {
    text-decoration: none;
    font-size: 14px;
}

.li__a:hover {
    cursor: pointer;
    color: var(--li-hover);
}

.li__a:active {
    color: var(--li-green);
}

.li__a::selection {
    color: #fff;
    background: #777;
}

.li--white{
    color: var(--li-white);
}

.li--green {
    color: var(--li-green);
}
.li__ul {
    z-index: 2000;
    background: #eee;
    position: absolute;
    margin-top: 25px;
    left: -20px;
    padding: 10px 20px;
}

.li__ul--none {
    display: none;
}

.li__ul--flex {
    display: flex;
    animation: aparecer 0.3s forwards;
}

@keyframes aparecer {
    0%{
        margin-top: 10px;
    }
    100%{
        margin-top: 25px;
    }
}

.ul__li--hover {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 350px;
}

.li__a--hover {
    margin: 10px 0;
    font-size: 14px;
}

.li__a--hover:hover {
    color: var(--li-green);
    font-weight: 600;
}

.li--black {
    color: var(--li-black);
}

.a--subcategory {
    margin-left: 10px;
    font-size: 12px;
    color: #777;
}

/* ===================== Main ============================= */

.relleno--main {
    height: 150px;
}

.section--carousel {
    height: 800px;
    position: relative;
}

/* [1] The container */
.carousel__div--img {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.carousel__div--img .carousel--img {
    animation: mostrarCarouselImg 20s forwards;
    animation-timing-function: ease;
}

.carousel--img {
    user-select: none;
}  

@keyframes mostrarCarouselImg {
    0% {
        transform: scale(1.21);
    }
    100% {
        transform: scale(1.3);
    }
}

.div--angle{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
}

.section--carousel:hover > .div--angle{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.carousel--angle {
    font-size: 50px;
    margin: 40px;
    color: #333;
}

.carousel--angle:hover {
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
    transition: 0.3s;
    color: #111;
}

.carousel--angle:active {
    text-shadow: 0 0 30px #fff;
}

.carousel__div--text {
    display: flex;
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: end;
}

.carousel--p {
    animation: mostrarCarouselP 8s forwards;
    color: #fff;
}

.carousel--p::selection {
    color: #fff;
    background: #777;
}

@keyframes mostrarCarouselP {
    0% {
        display: none;
        font-size: 70px;
        color: rgba(255, 255, 255, 0);
        margin-bottom: 130px;
    }
    100% {
        display: block;
        font-size: 70px;
        color: #fff;
        margin-bottom: 130px;
    }
}

/* ================================== section--below--carousel ================================================== */

.section--below--carousel {
    flex-direction: column;
    display: flex;
    position: relative;
    background: var(--section-green);
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section--text {
    display: flex;
    justify-content: center;
    margin: 15px 5px;
    width: 70%;
}

.section--text::selection {
    color: #fff;
    background: #777;
}

.main--h1 {
    color: var(--li-hover);
    font-weight: 500;
    font-size: 35px;
}

.main--h1:hover {
    width: fit-content;
    border-bottom: solid 2px var(--li-hover);
    font-weight: 700;
    cursor: pointer;
}

.main--h2 {
    width: fit-content;
    background: #fff;
    color: var(--section-green);
    font-size: 32px;
    font-style: italic;
}

.main--h3 {
    color: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-weight: 100;
}

.main--a {
    width: fit-content;
    text-decoration: none;
}

.main--a::selection {
    color: #fff;
    background: #777;
}

.main--a:hover {
    border-bottom: solid 2px var(--li-hover);
    font-weight: 700;
    cursor: pointer;
}

/* ======================================================================== Section Jobs */

.section--jobs {
    display: flex;
    width: 100%;
    height: 1500px;
    justify-content: center;
}

/* ======================================================================== Jobs Left */

.jobs--left {
    width: 864px;
    height: 100%;
}

.jobs--slide--container {
    position: relative;
    width: 100%;
    height: 300px;
}

.div--angle--jobs{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.jobs--slide--container:hover > .div--angle--jobs{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.carousel--angle--jobs {
    z-index: 900;
    color: #999;
}

.carousel--angle--jobs:active {
    text-shadow: 0 0 30px #000;
    transition: 0s;
}

.jobs--slide--title {
    color: var(--section-green);
    margin: 25px 0 0 25px;
    font-size: 22px;
}

.jobs--slide--title::selection {
    color: #fff;
    background: #777;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel .card {
  scroll-snap-align: start;
  height: 300px;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:hover {
  background: rgba(209, 148, 4, 0.5);
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.card--p {
    display: flex;
    justify-content: center;
    text-wrap: balance;
    margin: 5px;
    color: #000;
}

.card--p::selection {
    color: #fff;
    background: #777;
}

.card--p--date {
    font-size: 19px;
    border: solid 1px #000;
    padding: 20px 50px;
    width: 30%;
}

.card--p--jobs {
    color: var(--section-green);
}

.card--p--city {
    color: #666;
}

/* ============================================================================= */

.jobs--left--text {
    margin: 60px 0 0 0;
}

.jobs--left--p{
    color: #666;
    margin: 30px 0;
    font-size: 16px;
}

.jobs--left--p::selection {
    color: #fff;
    background: #777;
}

.jobs--left--p:nth-child(1) {
    color: var(--section-green);
    font-size: 35px;
    font-style: italic;
}

.jobs--left--a {
    color: var(--li-green);
}

.jobs--left--a:hover {
    color: var(--li-hover);
}

/* ============================================================================= */

.maps--container {
    background: var(--li-green);
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 70px;
}
.maps--p {
    color: #fff;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px;
}

.maps--p::selection {
    color: #fff;
    background: #777;
}


.maps--p:nth-child(1) {
    font-size: 25px;
}

.maps--p:nth-child(2) {
    font-size: 15px;
}

.maps {
    width: 100%;
    height: 500px;
    position: relative;
}

/* ======================================================================== */

.jobs--left--p--eight{
    font-size: 11px;
    color: #000;
    margin: 50px 0 0 0;
}

.jobs--left--p--nine{
    margin: 5px 0 0 0;
    color: var(--section-green);
}

/* ======================================================================== Jobs Right */

.jobs--right {
    width: 480px;
}

.jobs--box--container {
    display: flex;
    justify-content: center;
}

.jobs--box{
    width: 210px;
    height: 210px;
}

.box--one {
    background: url(Imagenes/Vineyard\ Australia.jpg);
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.box--one--in {
    animation: jobsImgOneIn 0.5s forwards;
}

@keyframes jobsImgOneIn {
    100% {
        background-position: top center;
    }
}

.box--one--out {
    animation: jobsImgOneOut 0.5s forwards;
}

@keyframes jobsImgOneOut {
    0% {
        background-position: top center;
    }
    100% {
        background-position: bottom center;
    }
}

.box--two {
    background: url(Imagenes/Farmers\ Shaking\ Hands.jpg);
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.box--two--in {
    animation: jobsImgTwoIn 0.5s forwards;
}

@keyframes jobsImgTwoIn {
    100% {
        background-position: top center;
    }
}

.box--two--out {
    animation: jobsImgTwoOut 0.5s forwards;
}

@keyframes jobsImgTwoOut {
    0% {
        background-position: top center;
    }
    100% {
        background-position: bottom center;
    }
}

.box--three{
    background: url(Imagenes/Man\ Riding\ Horse.jpg);
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.box--three--in {
    animation: jobsImgThreeIn 0.5s forwards;
}

@keyframes jobsImgThreeIn {
    100% {
        background-position: top center;
    }
}

.box--three--out {
    animation: jobsImgThreeOut 0.5s forwards;
}

@keyframes jobsImgThreeOut {
    0% {
        background-position: top center;
    }
    100% {
        background-position: bottom center;
    }
}

.box--four {
    background: url(Imagenes/Australian\ Farm\ 7.jpg);
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.box--four--in {
    animation: jobsImgFourIn 0.5s forwards;
}

@keyframes jobsImgFourIn {
    100% {
        background-position: top center;
    }
}

.box--four--out {
    animation: jobsImgFourOut 0.5s forwards;
}

@keyframes jobsImgFourOut {
    0% {
        background-position: top center;
    }
    100% {
        background-position: bottom center;
    }
}

.jobs--translucent {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 21px;
    color: #fff;
}

.jobs--translucent p {
    width: 70%;
}

.jobs--translucent p::selection {
    color: #fff;
    background: #777;
}

.box--black {
    background: rgba(0, 0, 0, 0.8);
}

.box--black:hover {
    color: var(--li-hover);
}

.box--yellow {
    background: rgba(221, 187, 0, 0.8);
}

.box--yellow:hover {
    color: #000;
}

.box--green {
    background: rgba(0, 102, 0, 0.8);
}

.box--green:hover {
    color: #000;
}

/* ====================================================== Footer Info */

.section--info {
    height: 350px;
    width: 100%;
    background: var(--section-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px 0 0 0;
    flex-wrap: wrap;
}

.footer--ul {
    margin: 0 80px;
    color: #fff;
    text-decoration: none;
    width: 200px;
    text-wrap: nowrap;
    height: 50%;
}

.footer--ul--none {
    list-style: none;
}

.footer--ul:nth-child(2){
    animation-delay: 500ms;
    opacity: 0;
}

.footer--ul:nth-child(3){
    animation-delay: 1000ms;
    opacity: 0;
}

.footer--ul:nth-child(4){
    animation-delay: 1500ms;
    opacity: 0;
}

.footer--h2 {
    color: var(--li-hover);
    font-weight: 100;
    margin-bottom: 30px;
}

.footer--h2::selection {
    color: #fff;
    background: #777;
}

.footer--li::selection {
    color: #fff;
    background: #777;
}

.footer--a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
}

.footer--a:hover {
    border-bottom: 1px solid var(--li-hover);
    font-weight: 700;
}

.footer--a::selection {
    color: #fff;
    background: #777;
}

.footer--logo--container {
    margin-top: 15px ;
    display: flex;
    justify-content: space-between;
}

/* =============================================== Footer Legal */

.section--legal {
    font-size: 19px;
    width: 100%;
    height: 350px;
    background: url(Imagenes/Vineyard\ Australia.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.legal--up--container {
    margin-bottom: 15px;
}

.legal--down--container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    flex-wrap: wrap;
}

.legal--p {
    color: #fff;
}

.legal--p::selection {
    color: #fff;
    background: #777;
}

.legal--div {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    flex-wrap: nowrap;
    margin: 20px;
}

.legal--a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    flex-wrap: nowrap;
}

.legal--a:hover {
    border-bottom: 1px solid #fff;
}

.legal--a::selection {
    color: #fff;
    background: #777;
}

/* ========================================================================== */

@media only screen and (max-width: 1460px){
    .section--info {
        height: 450px;
    }

    .footer--h2{
        font-size: 20px;
    }

    .footer--ul {
        margin: 16px 80px;
    }
}
@media only screen and (max-width: 1434px){
    .section--carousel {
        height: 500px;
    }

    .carousel__div--text {
        width: 90%;
    }

    @keyframes mostrarCarouselP {
        0% {
            display: none;
            font-size: 40px;
            color: rgba(255, 255, 255, 0);
            margin-bottom: 130px;
        }
        100% {
            display: block;
            font-size: 40px;
            color: #fff;
            margin-bottom: 130px;
        }
    }
}
@media only screen and (max-width: 1301px){
    .jobs--box--container{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1115px){
    .section--jobs{
       flex-direction: column;
       align-items: center;
    }

    .jobs--right{
        margin: 200px 0 0 0;
    }

    .jobs--left{
        margin-top: 600px;
    }

    .jobs--box--container{
        flex-direction: row;
        align-items: normal;
    }

    .footer {
        margin-top: 630px;
    }

    .section--legal{
        height: 500px;
    }
}

@media only screen and (max-width: 901px){
    .section--carousel {
        height: 400px;
    }

    .jobs--left{
        width: 100%;
    }
}
@media only screen and (max-width: 738px){
    .footer--ul {
        margin: 5px 30px;
    }
}

@media only screen and (max-width: 732px){
    .jobs--left{
        margin-top: 1000px;
    }

    .jobs--right{
        margin: 300px 0 300px 0;
    }

    .section--info{
        position: relative;
        top: 100px;
    }
}

@media only screen and (max-width: 724px){
    .section--carousel {
        height: 300px;
    }

    .section--below--carousel{
        height: 600px;
    }
}

@media only screen and (max-width: 678px){
    .nav__logo{
        display: none;
    }

    @keyframes mostrarCarouselP {
        0% {
            display: none;
            font-size: 30px;
            color: rgba(255, 255, 255, 0);
            margin-bottom: 130px;
        }
        100% {
            display: block;
            font-size: 30px;
            color: #fff;
            margin-bottom: 130px;
        }
    }
}

@media only screen and (max-width: 582px){
    .section--jobs{
        position: relative;
        top: 250px;
    }
    .jobs--right{
        margin: 350px 0 650px 0;
    }

    .section--info{
        top: 200px;
    }

}

@media only screen and (max-width: 545px){
    .section--carousel {
        height: 200px;
    }
    .section--info {
        justify-content: space-between;
    }

    .footer--ul {
        margin: 10px;
        width: 170px;
        height: 50%;
    }

    .footer--h2{
        font-size: 13px;
    }

    .footer--a{
        font-size: 12px;
        text-wrap: wrap;
    }
}
@media only screen and (max-width: 497px){
    .legal--p{
        font-size: 12px;
    }

    .legal--a{
        font-size: 12px;    
    }
}

@media only screen and (max-width: 494px){
    .section--jobs{
        position: relative;
        top: 500px;
    }

    .jobs--right{
        width: 100%;
        margin: 0 0 1150px 0;
        position: relative;
        top: 500px;
        justify-content: center;
        align-items: center;
    }

    .jobs--box--container{
        flex-direction: column;
        align-items: center;
    }

    .section--info{
        top: 750px;
        z-index: 1;
    }

    .section--legal{
        position: relative;
        top: 600px;
    }
}

@media only screen and (max-width: 458px){
    .section--below--carousel{
        height: 800px;
    }

    .li__a{
        font-size: 12px;
    }
}

@media only screen and (max-width: 446px){
    .jobs--right{
        top: 750px;
    }

    .section--info{
        top: 1000px;
    }

    .section--legal{
        top: 850px;
    }
}

@media only screen and (max-width: 397px){
    .footer--ul{
        width: 120px;
    }

    .footer--h2{
        font-size: 11px;
    }

    .footer--a{
        font-size: 11px;
    }

    .footer--li{
        font-size: 11px;
    }
}

@media only screen and (max-width: 364px){
    .section--carousel{
        display: none;
    }

    .section--text{
        font-size: 22px;
    }
}

@media only screen and (max-width: 347px){
    .legal--p{
        font-size: 10px;
    }

    .legal--a{
        font-size: 10px;    
    }
}